<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SouthSideBot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyBot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
